In [46]:
#Requesting five keywords as a single string separated by comma from a user using the input command.

print("Please enter five keywords as a single string separated by comma")
x = input()
print("Hello, you have entered " + x)

Please enter five keywords as a single string separated by comma
Machine Learning,Data Science,Cloud Computing,Amazon Web Services,Microsoft Azure
Hello, you have entered Machine Learning,Data Science,Cloud Computing,Amazon Web Services,Microsoft Azure

In [47]:
#Separating these keywords as a single word using any appropriate technique and store them in a single list.
txt = x

y = txt.split(",")

print(y)

['Machine Learning', 'Data Science', 'Cloud Computing', 'Amazon Web Services', 'Microsoft Azure']

In [48]:
#install library
!pip install pytrends

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pytrends in /usr/local/lib/python3.8/dist-packages (4.9.0)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.8/dist-packages (from pytrends) (1.3.5)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.8/dist-packages (from pytrends) (2.25.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from pytrends) (4.9.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25->pytrends) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25->pytrends) (1.21.6)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->pytrends) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->pytrends) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->pytrends) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->pytrends) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)

In [49]:
# import the API
from pytrends.request import TrendReq # API for downloading google trends
pytrends = TrendReq(hl='en-US', tz=360)

In [50]:
#Code showing separated the single string keyword in single words and store them in a single list
kw_list = y
print(kw_list)

['Machine Learning', 'Data Science', 'Cloud Computing', 'Amazon Web Services', 'Microsoft Azure']

In [51]:
pytrends.build_payload(kw_list, cat=0, timeframe='today 5-y', geo='', gprop='')

In [52]:
#For each keyword from your user get additional (keyword suggestions) four (4) keywords from google trends using the keywords suggestion from the pytrends library.
import pandas as pd
keywords = pytrends.suggestions(keyword='Machine Learning')
df = pd.DataFrame(keywords)
df.drop(columns= 'mid')   # This column makes no sense
df.head()

,mid,title,type
0,/m/01hyh_,Machine learning,Field of study
1,/m/04_72w5,Pattern Recognition and Machine Learning,Book by Christopher Bishop
2,/g/11m_gy8839,Machine Learning for Kids: A Project-Based Int...,Book by Dale Lane
3,/g/11f2sl5v8_,Automated machine learning,Topic
4,/g/11dxqcx7f2,Deep Learning with Python,Book by François Chollet

In [53]:
# Get Google Keyword Suggestions
df.drop(columns= 'mid')

,title,type
0,Machine learning,Field of study
1,Pattern Recognition and Machine Learning,Book by Christopher Bishop
2,Machine Learning for Kids: A Project-Based Int...,Book by Dale Lane
3,Automated machine learning,Topic
4,Deep Learning with Python,Book by François Chollet

In [54]:
# Get Google Keyword Suggestions
import pandas as pd
keywords = pytrends.suggestions(keyword='Data Science')
df = pd.DataFrame(keywords)
df.head()

,mid,title,type
0,/m/0jt3_q3,Data science,Field of study
1,/g/11j5h1w_jl,The Soulmate Equation,Book by Christina Lauren
2,/g/11jwx42d8t,Finding the Mother Tree: Discovering the Wisdo...,Book by Suzanne Simard
3,/g/11f00ny2d2,365 Data Science,"Educational institution in Sofia, Bulgaria"
4,/g/11h191mm4z,Mathematics for Machine Learning,"Book by A. Aldo Faisal, Cheng Soon Ong, and Ma..."

In [55]:
# Get Google Keyword Suggestions
df.drop(columns= 'mid')   # This column makes no sense

,title,type
0,Data science,Field of study
1,The Soulmate Equation,Book by Christina Lauren
2,Finding the Mother Tree: Discovering the Wisdo...,Book by Suzanne Simard
3,365 Data Science,"Educational institution in Sofia, Bulgaria"
4,Mathematics for Machine Learning,"Book by A. Aldo Faisal, Cheng Soon Ong, and Ma..."

In [56]:
# Get Google Keyword Suggestions
import pandas as pd
keywords = pytrends.suggestions(keyword='Cloud Computing')
df = pd.DataFrame(keywords)
df.head()

,mid,title,type
0,/m/02y_9m3,Cloud computing,Topic
1,/g/155sx68m,Alibaba Cloud,Computer software company
2,/m/09v8lc9,Cloud computing security,Topic
3,/m/0h1djyq,IBM cloud computing,Computer software
4,/g/11hz04x66k,TransferXL - NIMBUS CLOUD COMPUTING B.V,Topic

In [57]:
# Get Google Keyword Suggestions
df.drop(columns= 'mid')   # This column makes no sense

                                     title                       type
0                          Cloud computing                      Topic
1                            Alibaba Cloud  Computer software company
2                 Cloud computing security                      Topic
3                      IBM cloud computing          Computer software
4  TransferXL - NIMBUS CLOUD COMPUTING B.V                      Topic

In [58]:
# Get Google Keyword Suggestions

import pandas as pd
keywords = pytrends.suggestions(keyword='Amazon Web Services')
df = pd.DataFrame(keywords)
df.head()

,mid,title,type
0,/m/0mgkg,Amazon.com,E-commerce company
1,/m/05nrgx,Amazon Web Services,Web site
2,/m/0rznzt1,Amazon Web Services,IT service management company
3,/g/11b_3h0h8r,Amazon Web Services Belgium,Topic
4,/g/11hb6zp9__,Amazon Web Services Japan G.K.,Topic

In [59]:
# Get Google Keyword Suggestions

df.drop(columns= 'mid')   # This column makes no sense

                            title                           type
0                      Amazon.com             E-commerce company
1             Amazon Web Services                       Web site
2             Amazon Web Services  IT service management company
3     Amazon Web Services Belgium                          Topic
4  Amazon Web Services Japan G.K.                          Topic

In [60]:
# Get Google Keyword Suggestions

import pandas as pd
keywords = pytrends.suggestions(keyword='Microsoft Azure')
df = pd.DataFrame(keywords)
df.drop(columns= 'mid')   # This column makes no sense
df.head()

             mid                                   title                  type
0     /m/04y7lrx                         Microsoft Azure  Computer application
1     /m/03wbldj            Microsoft Azure SQL Database      Computer program
2     /m/0ys_t_l                          Azure Web Apps    Computing platform
3     /m/03nx2tc  Microsoft Azure Dev Tools for Teaching              Software
4  /g/11cn8zy10y          Microsoft Azure Service Fabric                 Topic

In [61]:
# Get Google Keyword Suggestions

df.drop(columns= 'mid')   # This column makes no sense

                                    title                  type
0                         Microsoft Azure  Computer application
1            Microsoft Azure SQL Database      Computer program
2                          Azure Web Apps    Computing platform
3  Microsoft Azure Dev Tools for Teaching              Software
4          Microsoft Azure Service Fabric                 Topic

In [85]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Machine Learning
keywrod_MachineLearning = ["Machine learning	", "Pattern Recognition and Machine Learning", "Machine Learning for Kids: A Project-Based Int...","Automated machine learning","Deep Learning with Python"]
i = 0
while i < len(keywrod_MachineLearning):
  print(keywrod_MachineLearning[i])
  i = i + 1

Machine learning
Pattern Recognition and Machine Learning
Machine Learning for Kids: A Project-Based Int...
Automated machine learning
Deep Learning with Python

In [127]:
#Searching Google trends of these keywords from any five (5) geographical area of your choice.
#Let us try to search for different countries
# Build your keywords
#declear your  country or Goe location
#CN = China
#IN = India
#AF = Afghanistan
#DZ = Algeria
#US-NY = United State New York

In [88]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Machine Learning in US region


pytrends.build_payload(kw_list=keywrod_MachineLearning,cat=0, timeframe='2017-12-31 2022-12-31',geo='US')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Machine learning\t,Pattern Recognition and Machine Learning,Machine Learning for Kids: A Project-Based Int...,Automated machine learning,Deep Learning with Python
geoName,,,,,
Alabama,100,0,0,0,0
Alaska,100,0,0,0,0
Arizona,100,0,0,0,0
Arkansas,100,0,0,0,0
California,99,0,0,0,1
Colorado,100,0,0,0,0
Connecticut,100,0,0,0,0
Delaware,100,0,0,0,0
District of Columbia,100,0,0,0,0
Florida,100,0,0,0,0

In [89]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Machine Learning in IN region

pytrends.build_payload(kw_list=keywrod_MachineLearning,cat=0, timeframe='2017-12-31 2022-12-31',geo='IN')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Machine learning\t,Pattern Recognition and Machine Learning,Machine Learning for Kids: A Project-Based Int...,Automated machine learning,Deep Learning with Python
geoName,,,,,
Andaman and Nicobar Islands,0,0,0,0,0
Andhra Pradesh,100,0,0,0,0
Arunachal Pradesh,100,0,0,0,0
Assam,100,0,0,0,0
Bihar,100,0,0,0,0
Chandigarh,100,0,0,0,0
Chhattisgarh,100,0,0,0,0
Dadra and Nagar Haveli,0,0,0,0,0
Daman and Diu,0,0,0,0,0
Delhi,100,0,0,0,0

In [128]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Machine Learning in CN region

pytrends.build_payload(kw_list=keywrod_MachineLearning,cat=0, timeframe='2017-12-31 2022-12-31',geo='CN')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Machine learning\t,Pattern Recognition and Machine Learning,Machine Learning for Kids: A Project-Based Int...,Automated machine learning,Deep Learning with Python
geoName,,,,,
Anhui,100,0,0,0,0
Beijing,100,0,0,0,0
Chongqing,0,0,0,0,0
Fujian,0,0,0,0,0
Gansu,0,0,0,0,0
Guangdong,100,0,0,0,0
Guangxi,0,0,0,0,0
Guizhou,0,0,0,0,0
Hainan,0,0,0,0,0
Hebei,0,0,0,0,0

In [91]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Machine Learning in AF region

pytrends.build_payload(kw_list=keywrod_MachineLearning,cat=0, timeframe='2017-12-31 2022-12-31',geo='AF')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Machine learning\t,Pattern Recognition and Machine Learning,Machine Learning for Kids: A Project-Based Int...,Automated machine learning,Deep Learning with Python
geoName,,,,,
Badakhshan,0,0,0,0,0
Badghis,0,0,0,0,0
Baghlan,0,0,0,0,0
Balkh,0,0,0,0,0
Bamiyan,0,0,0,0,0
Daykundi,0,0,0,0,0
Farah,0,0,0,0,0
Faryab,0,0,0,0,0
Ghazni,0,0,0,0,0
Ghor,0,0,0,0,0

In [92]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Machine Learning in DZ region

pytrends.build_payload(kw_list=keywrod_MachineLearning,cat=0, timeframe='2017-12-31 2022-12-31',geo='DZ')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Machine learning\t,Pattern Recognition and Machine Learning,Machine Learning for Kids: A Project-Based Int...,Automated machine learning,Deep Learning with Python
geoName,,,,,
Adrar Province,0,0,0,0,0
Algiers Province,100,0,0,0,0
Annaba Province,0,0,0,0,0
Aïn Defla Province,0,0,0,0,0
Aïn Témouchent Province,0,0,0,0,0
Batna Province,100,0,0,0,0
Biskra,0,0,0,0,0
Blida Province,100,0,0,0,0
Bordj Bou Arreridj,0,0,0,0,0
Boumerdès Province,0,0,0,0,0

In [99]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the Second keyword Data Science

Keywrod_DataScience = [ "Data Science","The Soulmate Equation	", "Finding the Mother Tree: Discovering the Wisdo...","365 Data Science","Mathematics for Machine Learning	"]
i = 0
while i < len(Keywrod_DataScience):
  print(Keywrod_DataScience[i])
  i = i + 1

Data Science
The Soulmate Equation
Finding the Mother Tree: Discovering the Wisdo...
365 Data Science
Mathematics for Machine Learning

In [122]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Data Science in DZ region

pytrends.build_payload(kw_list=Keywrod_DataScience,cat=0, timeframe='2017-12-31 2022-12-31',geo='US')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Data Science,The Soulmate Equation\t,Finding the Mother Tree: Discovering the Wisdo...,365 Data Science,Mathematics for Machine Learning\t
geoName,,,,,
Alabama,100,0,0,0,0
Alaska,100,0,0,0,0
Arizona,100,0,0,0,0
Arkansas,100,0,0,0,0
California,100,0,0,0,0
Colorado,100,0,0,0,0
Connecticut,100,0,0,0,0
Delaware,100,0,0,0,0
District of Columbia,100,0,0,0,0
Florida,100,0,0,0,0

In [123]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Data Science in IN region

pytrends.build_payload(kw_list=Keywrod_DataScience,cat=0, timeframe='2017-12-31 2022-12-31',geo='IN')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Data Science,The Soulmate Equation\t,Finding the Mother Tree: Discovering the Wisdo...,365 Data Science,Mathematics for Machine Learning\t
geoName,,,,,
Andaman and Nicobar Islands,0,0,0,0,0
Andhra Pradesh,100,0,0,0,0
Arunachal Pradesh,100,0,0,0,0
Assam,100,0,0,0,0
Bihar,100,0,0,0,0
Chandigarh,100,0,0,0,0
Chhattisgarh,100,0,0,0,0
Dadra and Nagar Haveli,100,0,0,0,0
Daman and Diu,0,0,0,0,0
Delhi,100,0,0,0,0

In [129]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Data Science in CN region

pytrends.build_payload(kw_list=Keywrod_DataScience,cat=0, timeframe='2017-12-31 2022-12-31',geo='CN')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Data Science,The Soulmate Equation\t,Finding the Mother Tree: Discovering the Wisdo...,365 Data Science,Mathematics for Machine Learning\t
geoName,,,,,
Anhui,0,0,0,0,0
Beijing,100,0,0,0,0
Chongqing,0,0,0,0,0
Fujian,0,0,0,0,0
Gansu,0,0,0,0,0
Guangdong,100,0,0,0,0
Guangxi,0,0,0,0,0
Guizhou,0,0,0,0,0
Hainan,0,0,0,0,0
Hebei,0,0,0,0,0

In [125]:

#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Data Science in AF region
pytrends.build_payload(kw_list=Keywrod_DataScience,cat=0, timeframe='2017-12-31 2022-12-31',geo='AF')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Data Science,The Soulmate Equation\t,Finding the Mother Tree: Discovering the Wisdo...,365 Data Science,Mathematics for Machine Learning\t
geoName,,,,,
Badakhshan,0,0,0,0,0
Badghis,0,0,0,0,0
Baghlan,0,0,0,0,0
Balkh,0,0,0,0,0
Bamiyan,0,0,0,0,0
Daykundi,0,0,0,0,0
Farah,0,0,0,0,0
Faryab,0,0,0,0,0
Ghazni,0,0,0,0,0
Ghor,0,0,0,0,0

In [130]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Data Science in DZ region

pytrends.build_payload(kw_list=Keywrod_DataScience,cat=0, timeframe='2017-12-31 2022-12-31',geo='DZ')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Data Science,The Soulmate Equation\t,Finding the Mother Tree: Discovering the Wisdo...,365 Data Science,Mathematics for Machine Learning\t
geoName,,,,,
Adrar Province,0,0,0,0,0
Algiers Province,98,0,0,2,0
Annaba Province,0,0,0,0,0
Aïn Defla Province,0,0,0,0,0
Aïn Témouchent Province,0,0,0,0,0
Batna Province,0,0,0,0,0
Biskra,0,0,0,0,0
Blida Province,0,0,0,0,0
Bordj Bou Arreridj,0,0,0,0,0
Boumerdès Province,0,0,0,0,0

In [131]:
# Using while loop
keywrod_CloudComputing = ["Cloud computing	", "Alibaba Cloud", "Cloud computing security","IBM cloud computing","TransferXL - NIMBUS CLOUD COMPUTING B.V"]
i = 0
while i < len(keywrod_CloudComputing):
  print(keywrod_CloudComputing[i])
  i = i + 1

Cloud computing
Alibaba Cloud
Cloud computing security
IBM cloud computing
TransferXL - NIMBUS CLOUD COMPUTING B.V

In [134]:
#Using a while loop iterated through each user keyword and its associated four (4) Google suggested keyword for the first keyword Cloud computing in US region

pytrends.build_payload(kw_list=keywrod_CloudComputing,cat=0, timeframe='2017-12-31 2022-12-31',geo='US')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Cloud computing\t,Alibaba Cloud,Cloud computing security,IBM cloud computing,TransferXL - NIMBUS CLOUD COMPUTING B.V
geoName,,,,,
Alabama,93,0,7,0,0
Alaska,0,0,0,0,0
Arizona,95,0,5,0,0
Arkansas,100,0,0,0,0
California,89,7,4,0,0
Colorado,94,0,6,0,0
Connecticut,100,0,0,0,0
Delaware,100,0,0,0,0
District of Columbia,95,0,5,0,0
Florida,92,2,6,0,0

In [135]:
pytrends.build_payload(kw_list=keywrod_CloudComputing,cat=0, timeframe='2017-12-31 2022-12-31',geo='IN')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Cloud computing\t,Alibaba Cloud,Cloud computing security,IBM cloud computing,TransferXL - NIMBUS CLOUD COMPUTING B.V
geoName,,,,,
Andaman and Nicobar Islands,0,0,0,0,0
Andhra Pradesh,95,0,5,0,0
Arunachal Pradesh,0,0,0,0,0
Assam,100,0,0,0,0
Bihar,92,3,5,0,0
Chandigarh,100,0,0,0,0
Chhattisgarh,97,0,3,0,0
Dadra and Nagar Haveli,0,0,0,0,0
Daman and Diu,0,0,0,0,0
Delhi,94,2,4,0,0

In [136]:
pytrends.build_payload(kw_list=keywrod_CloudComputing,cat=0, timeframe='2017-12-31 2022-12-31',geo='CN')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Cloud computing\t,Alibaba Cloud,Cloud computing security,IBM cloud computing,TransferXL - NIMBUS CLOUD COMPUTING B.V
geoName,,,,,
Anhui,0,0,0,0,0
Beijing,48,52,0,0,0
Chongqing,0,0,0,0,0
Fujian,0,0,0,0,0
Gansu,0,0,0,0,0
Guangdong,53,47,0,0,0
Guangxi,0,0,0,0,0
Guizhou,0,0,0,0,0
Hainan,0,0,0,0,0
Hebei,0,0,0,0,0

In [137]:
pytrends.build_payload(kw_list=keywrod_CloudComputing,cat=0, timeframe='2017-12-31 2022-12-31',geo='AF')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Cloud computing\t,Alibaba Cloud,Cloud computing security,IBM cloud computing,TransferXL - NIMBUS CLOUD COMPUTING B.V
geoName,,,,,
Badakhshan,0,0,0,0,0
Badghis,0,0,0,0,0
Baghlan,0,0,0,0,0
Balkh,0,0,0,0,0
Bamiyan,0,0,0,0,0
Daykundi,0,0,0,0,0
Farah,0,0,0,0,0
Faryab,0,0,0,0,0
Ghazni,0,0,0,0,0
Ghor,0,0,0,0,0

In [138]:
pytrends.build_payload(kw_list=keywrod_CloudComputing,cat=0, timeframe='2017-12-31 2022-12-31',geo='DZ')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Cloud computing\t,Alibaba Cloud,Cloud computing security,IBM cloud computing,TransferXL - NIMBUS CLOUD COMPUTING B.V
geoName,,,,,
Adrar Province,0,0,0,0,0
Algiers Province,100,0,0,0,0
Annaba Province,0,0,0,0,0
Aïn Defla Province,0,0,0,0,0
Aïn Témouchent Province,0,0,0,0,0
Batna Province,0,0,0,0,0
Biskra,0,0,0,0,0
Blida Province,0,0,0,0,0
Bordj Bou Arreridj,0,0,0,0,0
Boumerdès Province,0,0,0,0,0

In [132]:
keywrod_AmazonWebServices = ["Amazon.com", "Amazon Web Services", "Amazon Web Services","Amazon Web Services Belgium","Amazon Web Services Japan G.K."]
i = 0
while i < len(keywrod_AmazonWebServices):
  print(keywrod_AmazonWebServices[i])
  i = i + 1

Amazon.com
Amazon Web Services
Amazon Web Services
Amazon Web Services Belgium
Amazon Web Services Japan G.K.

In [139]:
pytrends.build_payload(kw_list=keywrod_AmazonWebServices,cat=0, timeframe='2017-12-31 2022-12-31',geo='US')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Amazon.com,Amazon Web Services,Amazon Web Services Belgium,Amazon Web Services Japan G.K.
geoName,,,,
Alabama,98,1,0,0
Alaska,98,1,0,0
Arizona,97,1,0,0
Arkansas,98,1,0,0
California,95,2,0,0
Colorado,95,2,0,0
Connecticut,96,2,0,0
Delaware,97,2,0,0
District of Columbia,82,9,0,0
Florida,98,1,0,0

In [140]:
pytrends.build_payload(kw_list=keywrod_AmazonWebServices,cat=0, timeframe='2017-12-31 2022-12-31',geo='IN')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Amazon.com,Amazon Web Services,Amazon Web Services Belgium,Amazon Web Services Japan G.K.
geoName,,,,
Andaman and Nicobar Islands,100,0,0,0
Andhra Pradesh,72,14,0,0
Arunachal Pradesh,0,0,0,0
Assam,100,0,0,0
Bihar,89,6,0,0
Chandigarh,86,8,0,0
Chhattisgarh,100,0,0,0
Dadra and Nagar Haveli,0,0,0,0
Daman and Diu,0,0,0,0
Delhi,86,7,0,0

In [141]:
pytrends.build_payload(kw_list=keywrod_AmazonWebServices,cat=0, timeframe='2017-12-31 2022-12-31',geo='CN')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Amazon.com,Amazon Web Services,Amazon Web Services Belgium,Amazon Web Services Japan G.K.
geoName,,,,
Anhui,0,0,0,0
Beijing,100,0,0,0
Chongqing,0,0,0,0
Fujian,100,0,0,0
Gansu,0,0,0,0
Guangdong,100,0,0,0
Guangxi,0,0,0,0
Guizhou,0,0,0,0
Hainan,0,0,0,0
Hebei,0,0,0,0

In [142]:
pytrends.build_payload(kw_list=keywrod_AmazonWebServices,cat=0, timeframe='2017-12-31 2022-12-31',geo='AF')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Amazon.com,Amazon Web Services,Amazon Web Services Belgium,Amazon Web Services Japan G.K.
geoName,,,,
Badakhshan,0,0,0,0
Badghis,0,0,0,0
Baghlan,0,0,0,0
Balkh,0,0,0,0
Bamiyan,0,0,0,0
Daykundi,0,0,0,0
Farah,0,0,0,0
Faryab,0,0,0,0
Ghazni,0,0,0,0
Ghor,0,0,0,0

In [143]:
pytrends.build_payload(kw_list=keywrod_AmazonWebServices,cat=0, timeframe='2017-12-31 2022-12-31',geo='DZ')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Amazon.com,Amazon Web Services,Amazon Web Services Belgium,Amazon Web Services Japan G.K.
geoName,,,,
Adrar Province,0,0,0,0
Algiers Province,90,4,0,0
Annaba Province,0,0,0,0
Aïn Defla Province,0,0,0,0
Aïn Témouchent Province,0,0,0,0
Batna Province,0,0,0,0
Biskra,0,0,0,0
Blida Province,0,0,0,0
Bordj Bou Arreridj,0,0,0,0
Boumerdès Province,0,0,0,0

In [133]:
keywrod_MicrosoftAzure = ["Microsoft Azure", "Microsoft Azure SQL Database", "Azure Web Apps","Microsoft Azure Dev Tools for Teaching","Microsoft Azure Service Fabric"]
i = 0
while i < len(keywrod_MicrosoftAzure):
  print(keywrod_MicrosoftAzure[i])
  i = i + 1

Microsoft Azure
Microsoft Azure SQL Database
Azure Web Apps
Microsoft Azure Dev Tools for Teaching
Microsoft Azure Service Fabric

In [145]:
pytrends.build_payload(kw_list=keywrod_MicrosoftAzure,cat=0, timeframe='2017-12-31 2022-12-31',geo='US')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Microsoft Azure,Microsoft Azure SQL Database,Azure Web Apps,Microsoft Azure Dev Tools for Teaching,Microsoft Azure Service Fabric
geoName,,,,,
Alabama,100,0,0,0,0
Alaska,0,0,0,0,0
Arizona,100,0,0,0,0
Arkansas,100,0,0,0,0
California,100,0,0,0,0
Colorado,100,0,0,0,0
Connecticut,100,0,0,0,0
Delaware,100,0,0,0,0
District of Columbia,100,0,0,0,0
Florida,100,0,0,0,0

In [146]:
pytrends.build_payload(kw_list=keywrod_MicrosoftAzure,cat=0, timeframe='2017-12-31 2022-12-31',geo='IN')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Microsoft Azure,Microsoft Azure SQL Database,Azure Web Apps,Microsoft Azure Dev Tools for Teaching,Microsoft Azure Service Fabric
geoName,,,,,
Andaman and Nicobar Islands,0,0,0,0,0
Andhra Pradesh,97,3,0,0,0
Arunachal Pradesh,0,0,0,0,0
Assam,100,0,0,0,0
Bihar,100,0,0,0,0
Chandigarh,100,0,0,0,0
Chhattisgarh,100,0,0,0,0
Dadra and Nagar Haveli,0,0,0,0,0
Daman and Diu,0,0,0,0,0
Delhi,100,0,0,0,0

In [147]:
pytrends.build_payload(kw_list=keywrod_MicrosoftAzure,cat=0, timeframe='2017-12-31 2022-12-31',geo='CN')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Microsoft Azure,Microsoft Azure SQL Database,Azure Web Apps,Microsoft Azure Dev Tools for Teaching,Microsoft Azure Service Fabric
geoName,,,,,
Anhui,0,0,0,0,0
Beijing,100,0,0,0,0
Chongqing,0,0,0,0,0
Fujian,0,0,0,0,0
Gansu,0,0,0,0,0
Guangdong,100,0,0,0,0
Guangxi,0,0,0,0,0
Guizhou,0,0,0,0,0
Hainan,0,0,0,0,0
Hebei,0,0,0,0,0

In [148]:
pytrends.build_payload(kw_list=keywrod_MicrosoftAzure,cat=0, timeframe='2017-12-31 2022-12-31',geo='AF')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Microsoft Azure,Microsoft Azure SQL Database,Azure Web Apps,Microsoft Azure Dev Tools for Teaching,Microsoft Azure Service Fabric
geoName,,,,,
Badakhshan,0,0,0,0,0
Badghis,0,0,0,0,0
Baghlan,0,0,0,0,0
Balkh,0,0,0,0,0
Bamiyan,0,0,0,0,0
Daykundi,0,0,0,0,0
Farah,0,0,0,0,0
Faryab,0,0,0,0,0
Ghazni,0,0,0,0,0
Ghor,0,0,0,0,0

In [149]:
# 
pytrends.build_payload(kw_list=keywrod_MicrosoftAzure,cat=0, timeframe='2017-12-31 2022-12-31',geo='DZ')

# Interest by Region US in last 5 yrs
dataSec = pytrends.interest_by_region()
dataSec.head(10)

,Microsoft Azure,Microsoft Azure SQL Database,Azure Web Apps,Microsoft Azure Dev Tools for Teaching,Microsoft Azure Service Fabric
geoName,,,,,
Adrar Province,0,0,0,0,0
Algiers Province,100,0,0,0,0
Annaba Province,0,0,0,0,0
Aïn Defla Province,0,0,0,0,0
Aïn Témouchent Province,0,0,0,0,0
Batna Province,0,0,0,0,0
Biskra,0,0,0,0,0
Blida Province,0,0,0,0,0
Bordj Bou Arreridj,0,0,0,0,0
Boumerdès Province,0,0,0,0,0

In [158]:
#Creating a Dataframe and Storing each search in a data frame.
import numpy as np

# First Let us create a Python list that holds the names of the five columns.
my_column_Courses = ['Machine Learning','Data Mining','Cloud Computing','Amazon Web Services','Microsoft Azure']

# Second create your 5x5 array using numpy, each cell populated with a random integer.
my_data = [["Machine learning", "Pattern Recognition and Machine Learning", "Machine Learning fo Mr Kids: A Project-Based Int...","Automated machine learning","Deep Learning with Python"],[ "Data Science","The Soulmate Equation", "Finding the Mother Tree: Discovering the Wisdo...","365 Data Science","Mathematics for Machine Learning	"], ["Cloud computing	", "Alibaba Cloud", "Cloud computing security","IBM cloud computing","TransferXL - NIMBUS CLOUD COMPUTING B.V"], ["Amazon.com", "Amazon Web Services", "Amazon Web Services","Amazon Web Services Belgium","Amazon Web Services Japan G.K."], ["Microsoft Azure", "Microsoft Azure SQL Database", "Azure Web Apps","Microsoft Azure Dev Tools for Teaching","Microsoft Azure Service Fabric"]]

# Thirdly create your  DataFrame with your dataset and columns names.
DataFr = pd.DataFrame(data = my_data, columns = my_column_Courses )

# Print the entire DataFrame
print(DataFr) # First option

    Machine Learning                               Data Mining  \
0   Machine learning  Pattern Recognition and Machine Learning
1       Data Science                     The Soulmate Equation
2  Cloud computing\t                             Alibaba Cloud
3         Amazon.com                       Amazon Web Services
4    Microsoft Azure              Microsoft Azure SQL Database

                                     Cloud Computing  \
0  Machine Learning fo Mr Kids: A Project-Based I...
1  Finding the Mother Tree: Discovering the Wisdo...
2                           Cloud computing security
3                                Amazon Web Services
4                                     Azure Web Apps

                      Amazon Web Services  \
0              Automated machine learning
1                        365 Data Science
2                     IBM cloud computing
3             Amazon Web Services Belgium
4  Microsoft Azure Dev Tools for Teaching

                           Microsoft Azure
0                Deep Learning with Python
1       Mathematics for Machine Learning\t
2  TransferXL - NIMBUS CLOUD COMPUTING B.V
3           Amazon Web Services Japan G.K.
4           Microsoft Azure Service Fabric

In [165]:
#Even rows of the Data frame
df1 = DataFr.iloc[0:5:2]
print(df1)

    Machine Learning                               Data Mining  \
0   Machine learning  Pattern Recognition and Machine Learning
2  Cloud computing\t                             Alibaba Cloud
4    Microsoft Azure              Microsoft Azure SQL Database

                                     Cloud Computing  \
0  Machine Learning fo Mr Kids: A Project-Based I...
2                           Cloud computing security
4                                     Azure Web Apps

                      Amazon Web Services  \
0              Automated machine learning
2                     IBM cloud computing
4  Microsoft Azure Dev Tools for Teaching

                           Microsoft Azure
0                Deep Learning with Python
2  TransferXL - NIMBUS CLOUD COMPUTING B.V
4           Microsoft Azure Service Fabric

In [170]:
#Odd rows of the Data frame
df2 = DataFr.iloc[1:5:2]
print(df2)

  Machine Learning            Data Mining  \
1     Data Science  The Soulmate Equation
3       Amazon.com    Amazon Web Services

                                     Cloud Computing  \
1  Finding the Mother Tree: Discovering the Wisdo...
3                                Amazon Web Services

           Amazon Web Services                     Microsoft Azure
1             365 Data Science  Mathematics for Machine Learning\t
3  Amazon Web Services Belgium      Amazon Web Services Japan G.K.